/*

###Primary
- Soft Blue: hsl(231, 69%, 60%)
- Soft Red: hsl(0, 94%, 66%)

### Neutral
- Grayish Blue: hsl(229, 8%, 60%)
- Very Dark Blue: hsl(229, 31%, 21%)

- Family: [Rubik](https://fonts.google.com/specimen/Rubik)
- Weights: 400, 500



*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');


:root {
    --clr-soft-blue: hsl(231, 69%, 60%);
    --clr-soft-red: hsl(0, 94%, 66%);

    --clr-primary: hsl(229, 31%, 21%);
    --clr-secondary: hsl(229, 8%, 60%);

    --clr-border: hsla(229, 8%, 60%, 0.391);
}

/* RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;
}


html {
    color-scheme: dark light;
}

ol,
ul {
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit;
}

/* Reset End */


.container {
    max-width: 90%;
    margin: 0 auto;
}

.pd-left {
    padding-left: 5em;
}


.section-title {
    font-size: 1.85rem;
    font-weight: 500;
    text-align: center;
    color: var(--clr-primary);
    margin-bottom: .85em;
}

.section-subtitle {
    text-align: center;
    color: var(--clr-secondary);
    max-width: 42%;
    margin: 0 auto;
    line-height: 1.5;
}


.red-btn {
    color: white;
    background: var(--clr-soft-red);
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid transparent;
    cursor: pointer;
}

.red-btn:hover {
    color: var(--clr-soft-red);
    border: 2px solid var(--clr-soft-red);
    background: white;
}


.bd-b {
    border-bottom: 1px solid var(--clr-border);
}

/* Header */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;
}

.navbar ul {
    display: flex;
    gap: 2.2em;
    text-transform: uppercase;
    margin-right: 4em;
}

.navbar ul li a {
    font-size: .7rem;
    font-weight: 500;
    letter-spacing: .2ch;
    cursor: pointer;
}

.navbar ul li a:hover {
    color: var(--clr-soft-red);
}

.navbar ul li a.red-btn {
    -webkit-box-shadow: 0px 4px 10px 1px rgba(83, 104, 223, 0.26);
    box-shadow: 0px 4px 10px 1px rgba(83, 104, 223, 0.26);
}

.hero {
    position: relative;
    display: flex;
    margin-top: 6em;
    justify-content: space-between;
    align-items: center;
}

.hero .left {
    max-width: 40%;
}

.hero-btn {
    margin-top: 2em;
}

.hero-btn .chrome-btn {
    padding: 13px 20px;
    border: 2px solid transparent;
    color: white;
    font-size: .8rem;
    font-weight: 500;
    background: var(--clr-soft-blue);
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 10px 1px rgba(83, 104, 223, 0.26);
    box-shadow: 0px 4px 10px 1px rgba(83, 104, 223, 0.26);
}

.hero-btn .chrome-btn:hover,
.more-info:hover {
    color: var(--clr-soft-blue);
    background: white;
    border: 2px solid var(--clr-soft-blue);

}

.hero-btn .firefox-btn {
    padding: 13px 20px;
    border: 2px solid transparent;
    color: var(--clr-primary);
    background: hsla(229, 8%, 60%, 0.127);
    font-size: .8rem;
    font-weight: 500;
    border-radius: 5px;
    margin-left: 1em;
    -webkit-box-shadow: 0px 4px 10px 1px rgba(83, 104, 223, 0.26);
    box-shadow: 0px 4px 10px 1px rgba(83, 104, 223, 0.26);
}

.hero-btn .firefox-btn:hover {
    color: var(--clr-primary);
    background: white;
    border: 2px solid var(--clr-primary);
}

.hero img {
    position: relative;
    z-index: 99;
    left: 30px;
}

.shape-right {
    width: 500px;
    height: 340px;
    background: var(--clr-soft-blue);
    border-radius: 0 0 0 150px;

    position: absolute;
    right: -71px;
    bottom: -20px;

}


h1 {
    font-size: 2.7rem;
    font-weight: 500;
    color: var(--clr-primary);
}

.hero .left p {
    color: var(--clr-secondary);
    font-size: 1rem;
    margin-top: 1.5em;
    line-height: 1.5;
}

/* Features */
#features {
    margin-block: 6em;

}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-primary);

    margin-top: 3em;
    margin-bottom: 4em;
}

#bookmarking,
#searching,
#sharing {
    font-size: .95rem;
    font-weight: 500;
    opacity: .7;
    padding: 30px 60px;
    border-bottom: 1px solid var(--clr-border);
}

#bookmarking:hover,
#searching:hover,
#sharing:hover {
    cursor: pointer;
    color: var(--clr-soft-red);
}

#bookmarking.active,
#searching.active,
#sharing.active {
    opacity: 1;
    padding-block: 28px;
    border-bottom: 4px solid var(--clr-soft-red);
}


.tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tab-left {
    position: relative;
}

#bookmark {
    background-image: url('images/illustration-features-tab-1.svg');
    width: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 8em;

}

.shape-left {
    width: 655px;
    height: 340px;
    background: var(--clr-soft-blue);
    border-radius: 0 0 150px 0;

    position: absolute;
    right: 65px;
    bottom: -75px;
    z-index: -1;
}

#search {
    background-image: url('images/illustration-features-tab-2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 50%;
    margin-bottom: 4.1em;
}



#search .shape-left {
    height: 370px;
    width: 615px;
    border-radius: 0 300px 150px 0;
    right: 105px;
    bottom: -35px;
}

#share {
    background-image: url('images/illustration-features-tab-3.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 50%;
    margin-bottom: 6em;
}

#share .shape-left {
    bottom: -40px;
    border-radius: 0 300px 150px 0;
}


.tab-right {
    max-width: 38%;
}

.left img {
    width: 100%;
}

.tab-right .section-title {
    text-align: left;
}


#bookmark-tab .tab-right .section-title,
#search-tab .tab-right .section-title {
    padding-top: 1em;
}

#share-tab .tab-right .section-title {
    padding-top: 1em;
}


.tab-right .section-subtitle {
    max-width: 100%;
    text-align: left;
    padding-right: 50px;
    margin-bottom: 1.5em;
}

.more-info {
    color: white;
    background-color: var(--clr-soft-blue);
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-bottom: 7em;
    -webkit-box-shadow: 0px 4px 10px 1px rgba(83, 104, 223, 0.26);
    box-shadow: 0px 4px 10px 1px rgba(83, 104, 223, 0.26);
    cursor: pointer;
}

#search-tab,
#share-tab {
    display: none;
}

/** Download section **/
.cards {
    display: flex;
    justify-content: center;
    gap: 1.8em;
    margin-top: 3em;
    margin-bottom: 6em;
}



.card {
    max-width: 21%;
    text-align: center;
    border: transparent;
    border-radius: 15px;
    padding-top: 45px;
    padding-bottom: 25px;
    -webkit-box-shadow: 5px 16px 15px 2px rgba(0, 0, 0, 0.07);
    box-shadow: 5px 16px 15px 2px rgba(0, 0, 0, 0.07);
}

.card img {
    margin: 0 auto;
}

.card-title {
    font-weight: 500;
    margin-top: 1.5em;
}

.card-subtitle {
    color: var(--clr-secondary);
    opacity: .8;
    font-size: .75rem;
    margin-top: .65em;
    margin-bottom: 1.5em;
}

.card-button {
    color: white;
    background: var(--clr-soft-blue);
    padding: 12px 40px;
    font-size: .7rem;
    font-weight: 500;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-top: 1.5em;
    -webkit-box-shadow: 0px 4px 10px 1px rgba(83, 104, 223, 0.26);
    box-shadow: 0px 4px 10px 1px rgba(83, 104, 223, 0.26);
    cursor: pointer;
}

.card-button:hover {
    color: var(--clr-soft-blue);
    border: 2px solid var(--clr-soft-blue);
    background: white;
}

.card:nth-of-type(1) {
    align-self: flex-start;
}

.card:nth-of-type(2) {
    margin-top: 1.5em;
    align-self: baseline;
}

.card:nth-of-type(3) {
    margin-top: 3em;
}


/** Q&A Section **/
#questions .section-subtitle {
    margin-bottom: 4em;
}

.questions {
    max-width: 42%;
    margin: 0 auto;
    color: var(--clr-primary);
}

#questions .more-info {
    margin-top: 2.5em;
    display: block;
    margin-inline: auto;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.5rem;
    padding-block: 1em;
    border-top: 1px solid var(--clr-border);
    cursor: pointer;
}

#arrow-up {
    fill: none;
    stroke-width: 3;
    stroke: #5267DF;

}

#arrow-up.close {
    transform: rotate(180deg);
    stroke: var(--clr-soft-red);
}

.question p {
    font-weight: 500;

}

.answer {
    color: var(--clr-secondary);
    margin-top: 1em;
    margin-bottom: 2em;
    line-height: 2;
    font-size: .915rem;
}

.answer.closed {
    display: none;
}


#answer-four {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--clr-border);
}


/* Call to Action */
#call-to-action {
    background: var(--clr-soft-blue);
    color: white;
    text-align: center;
    padding-block: 4em;
}

#call-to-action .container {
    width: 35%;
}

.info {
    text-transform: uppercase;
    font-size: .65rem;
    letter-spacing: .5ch;
    transform: scaleX(1.2);
}


#call-to-action h2 {
    font-size: 1.75rem;
    font-weight: 500;
    margin-block: 1.3em;
}

#call-to-action form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: auto;
}

#email {
    position: relative;
    border-radius: 5px;
    width: 65%;
}

.email-form {
    display: flex;
    align-items: center;
}

form .red-btn {
    padding: 12px 30px;
}

.email-form i {
    position: absolute;
    z-index: 999;
    right: 15px;
}

#error-icon,
#error {
    display: none;
}


input[type="email"] {
    position: inherit;
    z-index: 1;
    font-size: 0.85rem;
    padding: 12px 15px;
    border-radius: 5px;
    border: 2px solid transparent;
    width: 100%;
    outline: none;
}

input[type="email"]::placeholder {
    font-size: .85rem;
    color: var(--clr-secondary);
    opacity: .6;
}

input[type="email"].invalid {
    border: 2px solid var(--clr-soft-red);
}


#error {
    position: absolute;
    z-index: 0;
    font-size: .6rem;
    font-style: italic;
    letter-spacing: 0.1ch;
    background: var(--clr-soft-red);
    width: 100%;
    padding: 7px 0;
    transform: translateY(-3px);
    padding-left: 10px;
    text-align: left;
    border-radius: 0 0 5px 5px;
}

form .red-btn {
    font-size: .85rem;
}

/* Footer */
footer {
    background: var(--clr-primary);
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 5em;
    font-size: .85rem;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 4em;
}

.footer-left ul {
    display: flex;
    gap: 3em;
}

.footer-left ul li {
    text-transform: uppercase;
    letter-spacing: 0.2ch;
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.741);
    cursor: pointer;
}

.footer-left ul li:hover {
    color: var(--clr-soft-red);
}

.footer-right {
    display: flex;
    gap: 2em;
    align-items: center;
}

.footer-right #facebook,
.footer-right #twitter {
    cursor: pointer;
}

.footer-right #facebook:hover path,
.footer-right #twitter:hover path {
    fill: var(--clr-soft-red);
}

/* Attribution */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


.navbar #mobile-humburger {
    display: none;
}

/* mobile */

@media (max-width: 375px) {
    .container {
        max-width: 85%;
    }

    .pd-left {
        padding-left: 0;
    }

    .section-title {
        font-size: 1.35rem;
        font-weight: 500;
    }

    .section-subtitle {
        font-size: .95rem;
    }

    .section-subtitle,
    #call-to-action h2,
    .questions {
        max-width: 100%;
    }

    #desktop-nav {
        display: none;
    }


    .hero,
    .tabs,
    .tab,
    .navbar #mobile-humburger,
    .footer-left,
    .footer-left ul,
    .cards {
        display: block;
    }

    .hero .left {
        max-width: 100%;
    }

    header {
        text-align: center;
    }

    .navbar {
        margin-top: 2em;
    }

    h1 {
        font-size: 1.85rem;
    }


    .hero .shape-right {
        width: 310px;
        height: 205px;
        right: -19px;
    }

    .hero img {
        left: 0;
    }

    #call-to-action h2 {
        font-size: 1.3rem;
        margin-block: 1em;
    }


    .tab-right {
        max-width: 100%;
        text-align: center;
    }

    .tab-right .more-info {
        display: none;
    }

    .tab-right .section-title,
    .tab-right .section-subtitle {
        text-align: center;
        padding-right: 0;
    }

    .card {
        max-width: 85%;
        margin: auto;
    }

    .card:nth-of-type(2),
    .card:nth-of-type(3) {
        margin-top: 2em;
    }


    footer .container {
        display: block;
        padding: 2em 0;
        text-align: center;
    }

    .footer-left img {
        margin-inline: auto;
        margin-bottom: 2em;

    }

    .footer-left ul li {
        margin-bottom: 2em;
    }

    .footer-right {
        justify-content: center;
    }

}