@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
    --body-bg: hsl(185, 41%, 84%);

    --hover-clr: hsl(172, 67%, 45%);
    --dark-cyan: hsl(183, 100%, 15%);

    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);

    --vlg-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
}

body {
    max-width: 1440px;
    background-color: var(--body-bg);
    font-family: 'Space Mono', monospace;
}

img {
    display: block;
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;

}

.fs-input {
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-weight: 700;
}

.dollar-icon {
    padding-left: 25px;
    background-image: url('images/icon-dollar.svg') no-repeat left;
    background-size: 20px;
}

.btn {
    padding: 10px 45px;
    background: var(--dark-cyan);
    color: var(--white);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.c-btn {
    border-radius: 7px;
    background: var(--vlg-cyan);
    border: none;
    color: var(--dark-grayish-cyan);
    cursor: pointer;
    max-width: 135px;
    text-align: right;
    padding-right: 15px;
}

input:focus-visible {
    outline-color: var(--hover-clr);
}

.c-btn::placeholder {
    margin-right: 7px;
}

::placeholder {
    color: var(--dark-grayish-cyan);
    opacity: 1;
    font-weight: 700;

}

/*** Components ***/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    width: 100px;
}

.wrapper {
    margin-top: 6em;
    background-color: var(--white);
    padding: 35px;
    border-radius: 1.5em;

    display: flex;
    gap: 2.5em;
}

.left-col,
.right-col {
    flex: 1;
}



.left-col label {
    color: var(--dark-grayish-cyan);
    font-weight: 700;
    font-size: 1rem;
}


.bill {
    margin-bottom: 3em;
}




.bill,
.num-people {
    width: 100%;
    border-radius: 7px;
    background: var(--vlg-cyan);
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.bill img {
    width: 13px;
    height: 20px;
}

.bill>input,
.num-people>input {
    outline: none;
    border: none;
    background: inherit;
    text-align: right;
    font-weight: 700;
    color: var(--dark-cyan);
    width: 95%;
    cursor: pointer;
}

.num-people img {
    width: 15px;
    height: 20px;
}

.tip-percent {
    margin-bottom: 3em;
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 1em;
}

.tip-percent>label {
    padding-bottom: 10px;
}



.right-col {
    background-color: var(--dark-cyan);
    padding: 45px;
    border-radius: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.amount {
    display: flex;
    flex-direction: row;
    gap: 6em;
    justify-content: space-between;
    justify-items: center;
    align-items: end;
}


.amount>p {
    color: var(--white);
    font-weight: 700;
    font-size: 1rem;
}


.amount>p>span {
    color: var(--grayish-cyan);
    font-size: 15px;
}

#ppl-amount {
    margin-top: 3em;
}

.result {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--hover-clr);
}

#reset {
    color: var(--dark-cyan);
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-block: 15px;
    background-color: var(--hover-clr);
    border: none;
    border-radius: 7px;
    cursor: pointer;
}







.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}